<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ZF Test Case Editor"
            extensions="zf"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="plug.editors.XMLEditor"
            id="plug.editors.zf">
      </editor>
   </extension>
</plugin>
